body {
  padding: 0;
  margin: 0;
  background-color: blanchedalmond;
  color: darkred;
}
.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 60px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}
.score {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
}
img {
  height: 7rem;
  width: 7rem;
}
.options {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.rock,
.paper,
.scissor {
  padding: 1rem;
  border-radius: 10px;
  background-color: crimson;
  border-color: azure;
  cursor: pointer;
}
.player-count,
.CPU-count {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem;
}
.move {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 15rem;
}
.restart {
  display: none;
  margin-top: 2rem;
  padding: 1rem;
  background-color: darkred;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.result {
  margin-top: 20px;
  font-size: 2rem;
}
