body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.score-board {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: pointer;
}

.choice img {
  width: 100px;
  height: 100px;
  background-color: crimson;
  border-radius: 20px;
  border: 5px solid;
  cursor: pointer;
  margin-top: 100px;
}

.modal {
  background-color: white;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: antiquewhite;
  padding: 20px;
  border-radius: 5px;
}

.restart-btn {
  display: flex;
  padding: 10px;
  background-color: crimson;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.name {
  color: black;
}
